
<div class="d-flex flex-column justify-content-between vh-100">
  <div>
    <h2 class="text-center my-4">#todo</h2>
    <app-menu [activeOption]="activeOption" (filter)="applyFilter($event)"></app-menu>
    <app-form [validateTitle]="errorAddingTask" (sendTask)="handleSendTask($event)"></app-form>
    <app-show-tasks [tasksList]='tasksList' [completed]="completed" (updateTask)="handleUpdateTask($event)" (deleteTask)="handleDeleteTask($event)" (deleteCompleted)="handleDeleteCompleted()"></app-show-tasks>
  </div>
  <div>
    <p class="text-center">Created by <span class="fw-bolder">CLARET DEVIGNE</span></p>
  </div>
</div>

